.expandable__target {
  display: none;
}

.expandable__target.odo-expandable__target--open {
  display: block;
}

.expandable__trigger {
  width: 100%;
}

.expandable__trigger--animated {
  width: 100%;
}

.expandable__target--animated {
  width: 100%;
  overflow: hidden;
  transition: height .3s ease-out;
}

.expandable__trigger,
.expandable__trigger--animated {
  width: 100%;
  border-radius: 0;
  padding: 20px 0;
  border: 2px solid aquamarine;
  font-size: 16px;
}

