// .grid
.#{$grid-grid},
.#{$grid-container} {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: map-get($grid-gutter-width, xs);
}

// .container
.#{$grid-container} {
  width: map-get($grid-container-size, xs);
  max-width: $grid-max-width--mobile;
  margin-left: auto;
  margin-right: auto;
}

.#{$grid-container}--full\@xs {
  width: auto;
  max-width: none;
}

// .aspect
.#{$grid-ratio-name} {
  @include keep-aspect();
}

// .aspect-1x1 etc.
@include sassplate-grid-ratios();

// .aspect > div or .aspect-inner
.#{$grid-ratio-name} > div,
.#{$grid-ratio-inner-name} {
  @extend .fill-parent;
}

// Create basic styles for every grid class.
@include sassplate-grid-item-styles();

@include breakpoint(sm, true) {
  @include sassplate-grid-spans-offsets(xs, 6);
  @include sassplate-grid-ratios(xs);
  @include sassplate-gutterless-class(xs);
}

@include breakpoint(sm) {

  @if map-has-key($grid-gutter-width, sm) {
    .#{$grid-container},
    .#{$grid-grid} {
      grid-gap: map-get($grid-gutter-width, sm);
      grid-template-columns: repeat(#{$grid-columns}, minmax(0, 1fr));
    }
  } @else {
    .#{$grid-container},
    .#{$grid-grid} {
      grid-template-columns: repeat(#{$grid-columns}, minmax(0, 1fr));
    }
  }

  .#{$grid-container} {
    width: map-get($grid-container-size, sm);
    max-width: $grid-max-width--desktop;
  }

  @include sassplate-grid-spans-offsets(sm, $grid-columns);
  @include sassplate-grid-ratios(sm);
  @include sassplate-gutterless-class(sm);
}

@include breakpoint(md) {

  @if map-has-key($grid-gutter-width, md) {
    .#{$grid-container},
    .#{$grid-grid} {
      grid-gap: map-get($grid-gutter-width, md);
    }
  }

  .#{$grid-container} {
    width: map-get($grid-container-size, md);
  }

  @include sassplate-grid-spans-offsets(md, $grid-columns);
  @include sassplate-grid-ratios(md);
  @include sassplate-gutterless-class(md);
}

@include breakpoint(lg) {

  @if map-has-key($grid-gutter-width, lg) {
    .#{$grid-container},
    .#{$grid-grid} {
      grid-gap: map-get($grid-gutter-width, lg);
    }
  }

  .#{$grid-container} {
    width: map-get($grid-container-size, lg);
  }

  @include sassplate-grid-spans-offsets(lg, $grid-columns);
  @include sassplate-grid-ratios(lg);
  @include sassplate-gutterless-class(lg);
}

@include sassplate-gutterless-class();
